$blue-color: #1b6e6d;
$light-blue-color: #309da0;
$icon-color: #a63626;
$light-grey: #f7f7f7;
$dark-grey: #5c5a5a;
$orange-color: #d2512d;
$facebook-color: #0d6efd;
$instagram-color: #dd2a7b;
$whats-app-color: #25d366;
$google-color: #db4437;


$main-transition: all 0.3s ease-in-out;
