@use "../config/variables" as *;

footer {
  box-shadow: 0px 10px 40px rgb(0 0 0 / 20%) inset;
  .logo-container {
    margin-left: -30px;
  }
  .footer-facebook:hover, 
  .footer-twitter:hover {
    color: $facebook-color;
  }
  .footer-whatsapp:hover {
    color: $whats-app-color;
  }
  .footer-instagram:hover {
    color: $instagram-color;
  }
}

.auth-face-btn {
  color: $facebook-color !important;
}
.auth-google-btn {
  color: $google-color !important;
}
.auth-whats-btn {
  color: $whats-app-color !important;
}
.auth-insta-btn {
  color: $instagram-color !important;
}
